{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}{% endblock title %}</title>
    <!-- Bootstrap CDN -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <!-- Fonts and Icons -->
    <link href="https://fonts.googleapis.com/css?family=Barlow+Semi+Condensed" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Muli" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <link rel="icon" href="{% static 'img/c21_favicon.png' %}">
    <!-- Internal Styling -->
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <!-- Additional Header Content -->
    {% block header_content %}{% endblock header_content %}
</head>
<body>
    <!-- Navbar -->
    <nav class="py-0 navbar navbar-expand-lg bg-grey">
        <a class="py-0 navbar-brand" href="{% url 'adminsite:index' %}"><img height="75px" src="{% static 'img/c21_logo_white.png' %}" alt="c21_logo_white"></a>
        <button class="navbar-toggler ml-auto text-white" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span style="font-size: 40px;"><i class="fas fa-bars"></i></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="px-3 nav-link barlow" href="adminsite:index">Home</a>
                </li>
                <li class="nav-item">
                    <a class="px-3 nav-link barlow" href="#">Reporting</a>
                </li>
                <li class="nav-item">
                    <a class="px-3 nav-link barlow" href="#">Recruiting</a>
                </li>
                <li class="nav-item">
                    <a class="px-3 nav-link barlow" href="#">Rosters</a>
                </li>
                <li class="nav-item">
                    <a class="px-3 nav-link barlow" href="#">Jobs</a>
                </li>
            </ul>
        </div>
    </nav>
    <!-- Main Content -->
    {% block page_content %}
        {% comment %} Individual page content is added here {% endcomment %}
    {% endblock page_content %}
    <!-- Footer -->
    <div style="margin-top: 700px;" class="bg-white"></div>
    <footer>
        <div class="text-center bg-grey text-white barlow">
            <h1 class="mb-0">Great Footer!</h1>
        </div>
    </footer>
    <!-- Bootstrap -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</body>
</html>